.sidebar {
  position: fixed;
  top: 74px;
  left: 0;
  height: 100%;
  padding: 20px 20px;
  width: $sidebarWidth;
}

.sidebar {
  ul {
    list-style: none;
    padding: 0;

    li {
      .link-wrap{
        height: 50px;
        width: 50px;
        border-radius: 4px;
        display: block;
        padding: 8px;
        margin: 10px auto;
        &:hover, &.active{
          background: #323232;
        }
        img{
          height: 100%;
          width: 100%;
          object-fit: contain;
        }
      }
    }
  }
}